services:
  ntp:
    image: cturra/ntp:${NTP_VERSION}
    container_name: ntp-server
    restart: unless-stopped
    env_file:
      - ../.env
    cap_add:
      - SYS_TIME
    ports:
      - "${NTP_PORT}:123/udp"
    environment:
      NTP_SERVERS: ${NTP_SERVERS}
      TZ: ${TZ}
    networks:
      - proxy-network
    healthcheck:
      test: ["CMD", "ntpdate", "-q", "127.0.0.1"]
      interval: 60s
      timeout: 15s
      retries: 3
      start_period: 60s
    labels:
      - "com.docker.compose.project=ntp-server"
      - "com.docker.compose.service=ntp"

networks:
  proxy-network:
    external: true